.detailng:before{background-image:url(../bg.webp);background-position:50% 50%;background-repeat:no-repeat;background-size:cover;content:" ";display:block;height:100%;left:0;opacity:.4;position:absolute;top:0;width:100%;z-index:-1}
